body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.org-color {
    color: orange;
}

.flex-section {
    display: flex;
    margin-bottom: 120px;

}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-text {
    padding-right: 120px;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-shadow {
    box-shadow: 10px 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 10px;

}

#web-devex {
    border-left: 10px solid skyblue;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
}

#full-steck-dev {
    border-left: 10px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: gray;
}